/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 juil. 2024, 15:47:42
    Author     : ETU1886-Fanirina
*/

.achatMatiere {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.selectMats {
    width: 250px;
    padding: 8px 10px;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 8px;
    margin-left: -20%;
}

.selectMats:hover {
    width: 250px;
    padding: 8px 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
}

.quantite {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.titleMatiere {
    width: 20%;
}

.uniteMatiere {
    width: 20%;
}

#unite{
    margin-left: -50%;
}

.submitButton {
    margin-top: 40px;
    margin-left: 70px;
}